* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  font-weight: normal;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: linear-gradient(crimson, purple);
  padding: 5.5rem;
}

.btn {
  font-size: 2rem;
  padding: 0.7rem 4rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.2s linear;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #555;
}

section {
  padding: 1rem 7%;
  min-height: 100%;
}
